<section class="card">
    <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti eveniet debitis voluptatibus at fuga repellendus fugiat quod illum porro eaque.</p>        
    </div>
</section>