<div class="jumbotron mt-4">
    <h1 class="display">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, praesentium eligendi. A perspiciatis minus aspernatur?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat aspernatur et voluptatem maiores nobis voluptatum dignissimos dolor at, quasi iste?</p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>